.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  
    h1 {
      font-size: 2em;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2em;
      margin-bottom: 0.5rem;
    }
  
    a {
      color: blue;
      text-decoration: underline;
      font-weight: bold;
    }
  }
  