.bg-dark {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 85vh;
  background-color: #12002b;
}

.sign-in-content { 
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  width: 350px;
  background-color: white;

  h1 { 
    font-size: 1.5em;
  }

  form {
    text-align: left;
    border: none;
    padding: 0;
    padding-bottom: 15px;


    label {
      color: black;
    }
  

  input {
    padding: 5px;
    font-size: 1.3rem;
    position: relative;
  
  }
      .password-visibility-icon{
      position: absolute;
      right: 45%;  
      top:24.8rem;
      color: BLACK;

      @media (max-width: 920px){
       
        right: 22rem;
      
      
      }
      @media (max-width: 600px){
        
        right: 100px;
        top: 24rem;
        
      }

    }

  button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    text-decoration: underline;
  }

  .errorDisplay {
    color: red;
    font-weight: italic;
  }
}

.input-remember label { 
  margin-left: 0.25rem;
}

.sign-in-icon { 
  font-weight: bold;
}
}